<!DOCTYPE html>
<html lang="en" class="darker-bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="darker-bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <div class="container bg-transparent">
                <a class="btn btn-primary" style="margin:5px;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="btn btn-primary" style="margin:5px;" asp-area="" asp-controller="Home" asp-action="ListView">Match list</a>
						</li>
                        <li class="nav-item">
							<a class="btn btn-primary" style="margin:5px;" asp-area="" asp-controller="Home" asp-action="LeagueView">League table</a>
						</li>
                        <li class="nav-item">
							<a class="btn btn-primary" style="margin:5px;" asp-area="" asp-controller="WorldCup2022" asp-action="LeagueView">World Cup 2022 Standings</a>
						</li>
                        <li class="nav-item">
							<a class="btn btn-primary" style="margin:5px;" asp-area="" asp-controller="WorldCup2022" asp-action="ListView">World Cup 2022 Matches</a>
						</li>
					</ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
			<img class="logo" src="~/img/mathexlogo.jpg" alt="mathexlogo.jpg"/>	&copy; 2022 - Mathex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
