<!DOCTYPE html>
<html lang="en" class="darker-bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scores</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body class="darker-bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <div class="container bg-transparent">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/bootstrap-icons-1.8.1/house.svg" id="myhomebtn" aria-hidden="true"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                               Premier League 21/22
                            </a>
                            <div class="dropdown-menu darker-bg" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="PL21_22" asp-action="PL2122Matches">
                                    <img src="~/img/bootstrap-icons-1.8.1/calendar3.svg" aria-hidden="true"/>
                                     Matches
                                </a>
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="PL21_22" asp-action="PL2122Table">
                                    <img src="~/img/bootstrap-icons-1.8.1/list-ol.svg" aria-hidden="true"/>
                                     Standings
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                WorldCup2022
                            </a>
                            <div class="dropdown-menu darker-bg" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="WC22" asp-action="WC22Matches">
                                    <img src="~/img/bootstrap-icons-1.8.1/calendar3.svg" aria-hidden="true"/>
                                     Matches
                                </a>
                                <a class="dropdown-item" data-bs-toggle="dropdown" asp-controller="WC22" asp-action="WC22Tables">
                                    <img src="~/img/bootstrap-icons-1.8.1/list-ol.svg" aria-hidden="true"/>
                                     Standings
                                </a>
                            </div>
                        </li>
					</ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
			<img class="logo" src="~/img/mathexlogo.jpg" alt="mathexlogo.jpg"/>	&copy; 2022 - Mathex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
